

.itemMenu {
    margin: 0 1px;
}

.linkItem {
    text-decoration: none;
    font-size: 14pt;
    font-weight: 400;
    color: #fff;
    padding: 0 15px;
}

.menuDireito {
    padding: 0;
    margin: 0;
}

.menuDireito a {
    display: block;
    margin: auto;
    border: none;
    background-color: rgb(11, 9, 88);
    padding: 8px 13px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}



.menu {
    padding: 1.5rem 4rem;
}

.menuBotao {
    display: block;
}

.menuBotao button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.menuResp ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    list-style: none;
}

.menuResp .item-menu {
    display: block;
    padding: 1.2rem;
}

.menuResp .menuDireito {
    display: block;
    padding: 1rem 2rem;
}

.menuResp .menuDireito a {
    text-align: center;
    display: block;
    width: 100%;
}

.abrir {
    display: block;
}