* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.container {
    display: table;
    height: 100vh;
}

nav.menu-lateral {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    height: 100%;
    padding: 40px 0 40px 5px;
    background-color: black;
    box-shadow: 3px 0 0 #e0d4dc;
    overflow: hidden;
}

.btn-menu {
    width: 100%;
    padding-left: 10px;
}

.btn-menu i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

nav.menu-lateral ul {
    list-style: none;
    height: 100%;
}

nav.menu-lateral.mostar {
    width: 300px;
}


.tm {
    display: none;
}

nav.menu-lateral {
    transition: 0.1s;
}

ul li.menu-itens:hover {
    background-color: #49253b;
}


ul li.menu-itens a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 2px;
    display: flex;
    line-height: 40px;
}

ul li.menu-itens a .menu-text {
    margin-left: 20px;
}

ul li.menu-itens a .menu-icon i {
    font-size: 30px;
    margin-left: 5px;
}


main {
    background-color: #f7f7f7;
    padding: 10px;
    display: table-cell;
    vertical-align: top;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 20px;
}