* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}
.topo {
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    background-color: #000;
}

.cabecalho {
    flex: 1;
    text-align: center;
}

.topo h1 {
    font-size: 50px;
    color:#fff ;
}


.topo img{
    width: 50px;
    margin-right: 20px;
}
.container {
    display: table;
    height: 100vh;
}

nav.menu-lateral {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    height: 100%;
    padding: 40px 0 40px 5px;
    background-color: black;
    box-shadow: 3px 0 0 #e0d4dc;
    overflow: hidden;
}

.btn-menu {
    width: 100%;
    padding-left: 10px;
}

.btn-menu i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

nav.menu-lateral ul {
    list-style: none;
    height: 100%;
}

nav.menu-lateral.mostar {
    width: 300px;
}


.tm {
    display: none;
}

nav.menu-lateral {
    transition: 0.1s;
}

ul li.menu-itens:hover {
    background-color: #49253b;
}


ul li.menu-itens a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 2px;
    display: flex;
    line-height: 40px;
}

ul li.menu-itens a .menu-text {
    margin-left: 20px;
}

ul li.menu-itens a .menu-icon i {
    font-size: 30px;
    margin-left: 5px;
}


.corpo {
    background-color: #f7f7f7;
    padding: 10px;
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

.corpo:after{
    content: "";
    clear: both;
    display: table;
}

.corpo .listaPratos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    /* Centraliza os produtos horizontal e verticalmente */
}

.corpo .prato {
    width: 300px;
    /* Largura fixa de cada produto */
    margin: 10px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.corpo .prato img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.corpo .prato h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
.corpo .prato p {
    margin-top: 5px;
    font-size: 14px;
  }
  
.corpo .prato ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
.corpo .prato ul li {
    margin-bottom: 5px;
  
  }
footer {
    text-align: center;
    padding: 20px;
}


@media only screen and (max-width: 768px) {
    .container {
        height: auto;
        display: block;
        /* Volta para layout normal em telas menores */
    }

    .menu-resp {
        display: none;
    }

    nav.menu-lateral,
    .corpo {
        display: block;
        width: 100%;
    }

    footer {
        position: static;
    }

    nav.menu-lateral.mostar {
        width: 100%;
    }
}